extends layout

block content
  h2 Detalle del Producto

  p
    strong ID:
    | #{producto.id}

  p
    strong Nombre:
    | #{producto.nombre}

  p
    strong Marca:
    | #{producto.marca}

  p
    strong Precio:
    | #{producto.precio}

  p
    strong Stock:
    | #{producto.stock}

  p
    strong Proveedor:
    | #{nombreProveedor}

  a(href="/productos/vista") Volver